<?xml version="1.0" encoding="UTF-8"?>
<section name="codegenerationdialog">
	<item value="false" key="xhtml5all"/>
	<item value="false" key="spabbnth"/>
	<item value="false" key="palm"/>
	<item value="false" key="windows10x86"/>
	<item value="false" key="windowmango"/>
	<item value="false" key="Bold-4.5"/>
	<item value="false" key="tabRC"/>
	<item value="false" key="Storm-5.0"/>
	<item value="false" key="androidwearos"/>
	<item value="false" key="windows8x64"/>
	<item value="false" key="wrapperIphone"/>
	<item value="false" key="BBA10"/>
	<item value="false" key="windowphone8"/>
	<item value="false" key="mixedAndroidTab"/>
	<item value="false" key="spahybridbb"/>
	<item value="false" key="windowmobil65"/>
	<item value="false" key="8800-5.0"/>
	<item value="false" key="desktop_kioskx86"/>
	<item value="false" key="iphone"/>
	<item value="false" key="rc"/>
	<item value="false" key="BBQ10"/>
	<item value="false" key="windows8arm"/>
	<item value="false" key="iphoneiui"/>
	<item value="false" key="spaipad"/>
	<item value="false" key="nativeAndWebAndroid"/>
	<item value="false" key="BB10"/>
	<item value="false" key="mixedIpad"/>
	<item value="false" key="desktop_kiosk"/>
	<item value="false" key="wrapperAndroid"/>
	<item value="false" key="wrapperIpad"/>
	<item value="false" key="Bold-5.0"/>
	<item value="false" key="windows10x64"/>
	<item value="false" key="spaiphone"/>
	<item value="false" key="Pearl3G-5.0"/>
	<item value="false" key="tabrcandroid"/>
	<item value="false" key="Storm-4.7"/>
	<item value="false" key="wml"/>
	<item value="false" key="sms"/>
	<item value="false" key="Torch-6.0"/>
	<item value="false" key="windows8x86"/>
	<item value="false" key="windows10arm"/>
	<item value="false" key="Curve-7.0"/>
	<item value="false" key="spabb"/>
	<item value="false" key="tc"/>
	<item value="false" key="spaandroidtablet"/>
	<item value="false" key="appext-ios"/>
	<item value="false" key="spawindows10"/>
	<item value="false" key="bb_secure"/>
	<item value="false" key="windowphone81s"/>
	<item value="false" key="8800-4.2.1"/>
	<item value="false" key="wrapperTabletAll"/>
	<item value="false" key="wrapper"/>
	<item value="false" key="windowphone10"/>
	<item value="false" key="winphone10x86"/>
	<item value="false" key="BoldTouch-7.0"/>
	<item value="false" key="j2me"/>
	<item value="false" key="windows8"/>
	<item value="false" key="xhtmlmedium"/>
	<item value="false" key="Torch-7.0"/>
	<item value="false" key="spawinphone8"/>
	<item value="false" key="android_secure"/>
	<item value="false" key="Storm-7.0"/>
	<item value="false" key="isLibraryBuild"/>
	<item value="false" key="all"/>
	<item value="false" key="winphone10arm"/>
	<item value="false" key="spaandroid"/>
	<item value="false" key="iphone_secure"/>
	<item value="false" key="xhtmladvall"/>
	<item value="false" key="ipad"/>
	<item value="false" key="xhtmladviphone"/>
	<item value="true" key="android"/>
	<item value="false" key="xhtmladvpalm"/>
	<item value="false" key="xhtmladvandroid"/>
	<item value="false" key="Pearl-4.5"/>
	<item value="false" key="windowmobil"/>
	<item value="false" key="Pearl-4.2.1"/>
	<item value="false" key="xhtmlsmall"/>
	<item value="false" key="xhtmlnormal"/>
	<item value="false" key="wrapperBB"/>
	<item value="false" key="wrapperAndroidTab"/>
	<item value="false" key="nativeAndWebBB"/>
	<item value="false" key="spatabwindows"/>
	<item value="false" key="spaall"/>
	<item value="false" key="nativeAndWeb"/>
	<item value="false" key="xhtmladvbb"/>
	<item value="false" key="desktop_kioskx64"/>
	<item value="false" key="desktopweb"/>
	<item value="false" key="symbian"/>
	<item value="false" key="watchos"/>
	<item value="false" key="spawindows"/>
	<item value="false" key="Touchonly-7.0"/>
	<item value="false" key="8800-4.5"/>
	<item value="false" key="ipad_secure"/>
	<item value="false" key="nativeAndWebIphone"/>
	<item value="false" key="windows10"/>
	<item value="false" key="blackberry"/>
	<item value="false" key="mixedTabletAll"/>
	<item value="false" key="xhtmladvnth"/>
	<list key="selectedplatformids">
		<item value="android"/>
	</list>
</section>
